#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#undef CONFIG_ZMK_MACRO_DEFAULT_WAIT_MS

#define CONFIG_ZMK_MACRO_DEFAULT_WAIT_MS 10

#undef CONFIG_ZMK_MACRO_DEFAULT_TAP_MS

#define CONFIG_ZMK_MACRO_DEFAULT_TAP_MS 20

/ {
    behaviors {
        #include "macros.dtsi"
        #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        m_axn: m_axn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp X &kp N>;
            label = "M_AXN";
        };

        m_ixn: m_ixn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp X &kp N>;
            label = "M_IXN";
        };

        m_uu: m_uu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp U &kp U>;
            label = "M_UU";
        };

        m_uuxn: m_uuxn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp U &kp U &kp X &kp N>;
            label = "M_UUXN";
        };

        m_uxn: m_uxn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp U &kp X &kp N>;
            label = "M_UXN";
        };

        m_exn: m_exn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E &kp X &kp N>;
            label = "M_EXN";
        };

        m_ou: m_ou {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp U>;
            label = "M_OU";
        };

        m_ouxn: m_ouxn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp U &kp X &kp N>;
            label = "M_OUXN";
        };

        m_oxn: m_oxn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp X &kp N>;
            label = "M_OXN";
        };

        m_ya: m_ya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp A>;
            label = "M_YA";
        };

        m_yaxn: m_yaxn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp A &kp X &kp N>;
            label = "M_YAXN";
        };

        m_yi: m_yi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp I>;
            label = "M_YI";
        };

        m_yixn: m_yixn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp I &kp X &kp N>;
            label = "M_YIXN";
        };

        m_yu: m_yu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp U>;
            label = "M_YU";
        };

        m_yuu: m_yuu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp U &kp U>;
            label = "M_YUU";
        };

        m_yuuxn: m_yuuxn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp U &kp U &kp X &kp N>;
            label = "M_YUUXN";
        };

        m_yuxn: m_yuxn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp U &kp X &kp N>;
            label = "M_YUXN";
        };

        m_ye: m_ye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp E>;
            label = "M_YE";
        };

        m_yexn: m_yexn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp E &kp X &kp N>;
            label = "M_YEXN";
        };

        m_yo: m_yo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp O>;
            label = "M_YO";
        };

        m_you: m_you {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp O &kp U>;
            label = "M_YOU";
        };

        m_youxn: m_youxn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp O &kp U &kp X &kp N>;
            label = "M_YOUXN";
        };

        m_yoxn: m_yoxn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp O &kp X &kp N>;
            label = "M_YOXN";
        };

        m_xn: m_xn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &kp N>;
            label = "M_XN";
        };

        m__xn: m__xn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp X &kp N>;
            label = "M__XN";
        };

        m_xtu: m_xtu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &kp T &kp U>;
            label = "M_XTU";
        };

        m_UUU: m_UUU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F10 &kp F10>;
            label = "M_UUU";
        };

        m_Ull: m_Ull {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F10 &kp F10 &kp F10>;
            label = "M_ULL";
        };

        m_axtu: m_axtu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp X &kp T &kp U>;
            label = "M_AXTU";
        };

        m_ixtu: m_ixtu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp X &kp T &kp U>;
            label = "M_IXTU";
        };

        m_uxtu: m_uxtu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp U &kp X &kp T &kp U>;
            label = "M_UXTU";
        };

        m_extu: m_extu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E &kp X &kp T &kp U>;
            label = "M_EXTU";
        };

        m_oxtu: m_oxtu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp X &kp T &kp U>;
            label = "M_OXTU";
        };

        m_yaxtu: m_yaxtu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp A &kp X &kp T &kp U>;
            label = "M_YAXTU";
        };

        m_yuxtu: m_yuxtu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp U &kp X &kp T &kp U>;
            label = "M_YUXTU";
        };

        m_yoxtu: m_yoxtu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp O &kp X &kp T &kp U>;
            label = "M_YOXTU";
        };

        m_xnxtu: m_xnxtu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &kp N &kp X &kp T &kp U>;
            label = "M_XNXTU";
        };

        m__xtu: m__xtu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp X &kp T &kp U>;
            label = "M__XTU";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESCAPE        &kp NUMBER_1             &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5          &sl 6                                                                                                                        &none      &kp NUMBER_6  &kp N7  &kp N8  &kp N9  &kp N0         &sk RIGHT_GUI
&none             &kp Q                    &kp Y         &kp E         &kp C         &sk LEFT_SHIFT  &none                                                                                                                        &none      &kp V         &kp D   &kp K   &kp G   &kp P          &none
&none             &kp A                    &kp I         &kp O         &kp U         &kp LS(INT_RO)  &none        &mt LEFT_ALT QUESTION  &kp LANGUAGE_2                  &kp LANGUAGE_1                &mt RIGHT_ALT EXCLAMATION  &none      &kp F         &kp T   &kp N   &kp S   &kp H          &none
&kp LEFT_CONTROL  &kp LS(INTERNATIONAL_3)  &kp J         &kp L         &kp W         &kp INT_RO                                          &mt LEFT_SHIFT MINUS            &mt RIGHT_CONTROL SLASH                                             &kp X         &kp M   &kp R   &kp Z   &kp B          &kp RIGHT_SHIFT
&kp LEFT_SHIFT    &kp LEFT_ALT             &none         &kp LC(C)     &kp LC(V)                     &lt 4 COMMA  &lt 1 SPACE            &mt LEFT_CONTROL SEMICOLON      &mt RIGHT_SHIFT SINGLE_QUOTE  &lt 2 SPACE                &lt 5 DOT                &none   &none   &none   &kp RIGHT_ALT  &kp RIGHT_CONTROL
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&trans  &trans            &trans               &trans   &trans               &trans            &to 0                                            &trans  &trans         &trans          &trans          &trans           &trans         &trans
&trans  &trans            &kp LANGUAGE_2       &m_UUU   &kp LANGUAGE_1       &kp LS(CAPSLOCK)  &trans                                           &trans  &kp PAGE_UP    &kp HOME        &kp UP_ARROW    &kp END          &kp PAGE_DOWN  &trans
&trans  &kp LEFT_CONTROL  &kp INTERNATIONAL_5  &m_Ull   &kp INTERNATIONAL_4  &trans            &trans  &trans  &trans      &trans  &kp RS(TAB)  &trans  &kp BACKSPACE  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp DELETE     &trans
&trans  &kp LEFT_SHIFT    &kp F6               &kp F10  &kp F7               &trans                            &trans      &trans                       &trans         &kp ENTER       &trans          &trans           &kp INSERT     &trans
&trans  &trans            &trans               &kp F9   &kp F8                                 &trans  &trans  &trans      &trans  &kp TAB      &trans                 &trans          &trans          &trans           &trans         &trans
            >;
        };

        axn {
            bindings = <
&trans  &trans   &trans  &trans   &trans   &trans  &to 0                                          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans  &m_exn   &trans   &trans  &trans                                         &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &m_axn   &m_ixn  &m_oxn   &m_uxn   &m__xn  &trans  &trans     &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &m_yaxn  &trans  &m_yoxn  &m_yuxn  &trans                     &m__xn      &trans                  &m_xn   &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans  &trans   &trans           &trans  &kp SPACE  &mo 3       &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;

            label = "AXn";
        };

        xtu {
            bindings = <
&trans  &trans    &trans   &trans    &trans    &trans   &to 0                                       &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans   &m_extu   &trans    &trans   &trans                                      &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &m_axtu   &m_ixtu  &m_oxtu   &m_uxtu   &m__xtu  &trans  &trans  &trans      &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &m_yaxtu  &trans   &m_yoxtu  &m_yuxtu  &trans                   &trans      &trans                  &m_xnxtu  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans   &trans    &trans             &trans  &trans  &trans      &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
            >;
        };

        num_fn {
            display-name = "Fn";
            bindings = <
&trans  &kp F11          &kp F12        &kp F13           &kp F14       &kp F15       &to 0                                       &trans  &kp F16        &kp F17       &kp F18       &kp F19            &kp F20       &trans
&trans  &kp F1           &kp F2         &kp F3            &kp F4        &kp F5        &trans                                      &trans  &kp F6         &kp F7        &kp F8        &kp F9             &kp F10       &trans
&trans  &kp NUMBER_1     &kp NUMBER_2   &kp NUMBER_3      &kp NUMBER_4  &kp NUMBER_5  &trans  &trans  &trans      &trans  &trans  &trans  &kp NUMBER_6   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9       &kp NUMBER_0  &trans
&trans  &kp LS(INT_YEN)  &kp AMPERSAND  &kp LEFT_BRACKET  &kp PERCENT   &kp INT_RO                    &trans      &trans                  &kp RS(MINUS)  &kp COLON     &kp MINUS     &kp DOUBLE_QUOTES  &kp SLASH     &trans
&trans  &kp F21          &kp F22        &kp F23           &kp F24                     &trans  &trans  &trans      &trans  &trans  &trans                 &trans        &trans        &trans             &trans        &trans
            >;

            label = "Num_Fn";
        };

        symbols {
            display-name = "Red";
            label = "Symbols";
            bindings = <
&trans  &trans           &trans          &trans            &trans       &trans          &to 0                                       &trans  &trans         &trans             &trans           &trans                &trans         &trans
&trans  &kp QUESTION     &kp LEFT_BRACE  &kp PLUS          &kp EQUAL    &trans          &trans                                      &trans  &trans         &kp LT             &kp RIGHT_BRACE  &kp PIPE              &kp GT         &trans
&trans  &kp EXCLAMATION  &kp AT          &kp HASH          &kp DOLLAR   &kp LS(INT_RO)  &trans  &trans  &trans      &trans  &trans  &trans  &kp CARET      &kp RIGHT_BRACKET  &kp ASTERISK     &kp LEFT_PARENTHESIS  &kp BACKSLASH  &trans
&trans  &kp LS(INT_YEN)  &kp AMPERSAND   &kp LEFT_BRACKET  &kp PERCENT  &kp INT_RO                      &trans      &trans                  &kp RS(MINUS)  &kp COLON          &kp MINUS        &kp DOUBLE_QUOTES     &kp SLASH      &trans
&trans  &trans           &trans          &trans            &trans                       &trans  &trans  &trans      &trans  &trans  &trans                 &trans             &trans           &trans                &trans         &trans
            >;
        };

        hub {
            bindings = <
&trans  &to 9   &trans  &trans  &trans  &trans  &to 0                                       &to 7   &trans  &trans  &trans  &trans  &trans  &to 8
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;

            label = "Hub";
        };

        mod {
            display-name = "Mod";
            bindings = <
&trans          &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &to 0                                                    &trans           &trans  &trans      &trans      &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans        &bootloader                                              &bootloader      &trans  &trans      &trans      &trans  &trans  &trans
&studio_unlock  &trans        &trans        &trans        &trans        &trans        &trans       &trans  &trans      &bt BT_CLR  &trans      &stp STP_BAT     &trans  &trans      &trans      &trans  &trans  &trans
&trans          &trans        &trans        &trans        &macro_ver    &trans                             &trans      &trans                                   &trans  &trans      &trans      &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans                      &trans       &trans  &trans      &trans      &bl BL_TOG  &rgb_ug RGB_TOG          &bl BL_INC  &bl BL_DEC  &trans  &trans  &trans
            >;
        };

        test {
            display-name = "Purple";
            label = "Test";
            bindings = <
&trans  &kp INT1   &kp INT2   &kp INT3   &kp INT4   &kp INT5   &to 0                                       &trans  &kp INT6   &kp INT7   &kp INT8   &kp INT9   &trans   &trans
&trans  &kp LANG1  &kp LANG2  &kp LANG3  &kp LANG4  &kp LANG5  &trans                                      &trans  &kp LANG6  &kp LANG7  &kp LANG8  &kp LANG9  &trans   &trans
&trans  &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &trans  &trans  &trans      &trans  &trans  &trans  &kp F6     &kp F7     &kp F8     &kp F9     &kp F10  &trans
&trans  &kp F11    &kp F12    &kp F13    &kp F14    &kp F15                    &trans      &trans                  &kp F16    &kp F17    &kp F18    &kp F19    &kp F20  &trans
&trans  &kp F21    &kp F22    &kp F23    &kp F24               &trans  &trans  &trans      &trans  &trans  &trans             &trans     &trans     &trans     &trans   &trans
            >;
        };

        minecraft {
            bindings = <
&kp ESCAPE  &kp F2        &kp F1        &none         &kp F5        &kp F11       &to 0                                                     &none  &none  &none  &none  &none  &none  &none
&kp TAB     &none         &none         &kp W         &none         &none         &kp LC(Q)                                                 &none  &none  &none  &none  &none  &none  &none
&none       &kp E         &kp A         &kp S         &kp D         &kp F         &none      &kp L      &kp LEFT_ALT          &none  &none  &none  &none  &none  &none  &none  &none  &none
&none       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                        &kp LEFT_CONTROL      &none                &none  &none  &none  &none  &none  &none
&none       &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9                &kp F3     &kp SPACE  &kp LEFT_SHIFT        &none  &none  &none         &none  &none  &none  &none  &none
            >;

            label = "MineCraft";
        };

        layer_9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
